<template>
  <div class="title">
    <el-alert
      title="您当前使用默认密码（123456）非常不安全，请及时修改"
      type="warning"
      show-icon>
    </el-alert>
    <el-tabs v-model="activeName">
      <el-tab-pane label="领导指示" name="first">暂无数据</el-tab-pane>
    </el-tabs>
    <el-tabs v-model="activeName1">
      <el-tab-pane label="通知公告" name="first">暂无数据</el-tab-pane>
      <el-tab-pane label="对我的建议" name="second">暂无数据</el-tab-pane>
    </el-tabs>
    <el-tabs v-model="activeName2">
      <el-tab-pane label="我的任务" name="first">暂无数据</el-tab-pane>
      <el-tab-pane label="我的协作组织" name="second">暂无数据</el-tab-pane>
    </el-tabs>
    <el-tabs v-model="activeName3">
      <el-tab-pane label="我参与的项目" name="first">暂无数据</el-tab-pane>
      <el-tab-pane label="我的商机" name="second">暂无数据</el-tab-pane>
      <el-tab-pane label="我的客户" name="third">暂无数据</el-tab-pane>
    </el-tabs>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>在线填报</span>
      </div>
      <div v-for="o in 9" :key="o" class="text item">
        {{'列表内容 ' + o }}
      </div>
    </el-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      activeName: 'first',
      activeName1: 'first',
      activeName2: 'first',
      activeName3: 'first'
    }
  },
  methods: {
  }
}
</script>
<style scoped>

</style>
