<template>
<el-row class="tac">
  <el-menu
  default-active="2"
  background-color="#293d50"
  text-color="#fff"
  router
  active-text-color="#ffd04b">
    <el-menu-item index="/">
        <i class="el-icon-menu"></i>
        <span slot="title">国脉主页</span>
      </el-menu-item>
    <el-submenu index="/我的工作">
      <template slot="title">
        <i class="el-icon-location"></i>
        <span>我的工作</span>
      </template>
      <el-menu-item index="/领导指示">领导指示</el-menu-item>
      <el-menu-item index="/在线填报">在线填报</el-menu-item>
      <el-menu-item index="/通知公告">通知公告</el-menu-item>
      <el-menu-item index="/我的私信">我的私信</el-menu-item>
      <el-menu-item index="/协作组织">协作组织</el-menu-item>
    </el-submenu>
    <el-submenu index="/我的资源">
      <template slot="title">
        <i class="el-icon-location"></i>
        <span>我的资源</span>
      </template>
      <el-menu-item index="/部门登记">部门登记</el-menu-item>
      <el-menu-item index="/项目登记">项目登记</el-menu-item>
      <el-menu-item index="/上级录入">上级录入</el-menu-item>
      <el-menu-item index="/客户登记">客户登记</el-menu-item>
      <el-menu-item index="/战略伙伴">战略伙伴</el-menu-item>
    </el-submenu>
  </el-menu>
</el-row>
</template>

<script>
export default {

}
</script>

<style scoped>
>>> .el-menu {
  border-right: none;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
}
</style>
