<template>
  <div id="app">
    <el-container>
      <el-aside class="aside" width="220px">
        <div class="web-title">
          国脉人工作台
        </div>
        <div class="user-info">
          <div class="avatar">
            <img src="http://ioa.govmade.com/template/2/default/_files/img/profile_small.jpg" alt="">
          </div>
          <div class="username">
            <div class="name">张超</div>
            <el-dropdown>
              <span class="el-dropdown-link">
                正式员工<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>修改资料</el-dropdown-item>
                <el-dropdown-item>修改密码</el-dropdown-item>
                <el-dropdown-item>安全密码</el-dropdown-item>
                <el-dropdown-item divided>安全退出</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
        <side-bar/>
      </el-aside>
      <el-container style="height:100vh;">
        <el-header class="header">Header</el-header>
        <el-main style="overflow-y: scroll;">
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import SideBar from '@/components/SideBar'
export default {
  name: 'App',
  components: {
    SideBar
  }
}
</script>
<style>
.aside {
  height: 100vh;
  background-color: #293d50;
  background-image: url(http://ioa.govmade.com/template/2/default/_files/css/patterns/header-profile.png);
  background-repeat: no-repeat;
}
.user-info {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}
.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-info .avatar {
  width: 60px;
  height: 60px;
}
.user-info .username {
  color: #fff;
  margin-left: 10px;
}
.web-title {
  display: flex;
  font-size: 20px;
  background: rgba(255,255,255,.05);
  justify-content: center;
  align-items: center;
  height: 70px;
  color: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
